<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Lumen</title>
    <link rel='shortcut icon' href='{{ url_for('static', filename='images/icon.ico') }}' type='image/x-icon'/ >

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart']});
    </script>
  </head>
  <body style="background-image:url({{ url_for('static', filename='images/bkgdbottom.jpg') }})">
    <div id="projectTitleSmall"  onclick="location.href='/'">
          <img id="projectLogoSmall" src="{{ url_for('static', filename='images/white.png') }}">
          <span id="projectNameSmall">Lumen</span>
    </div>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/react-15.0.2.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/react-dom-15.0.2.js') }}"></script>

    {% block content %}
    {% endblock content %}

    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/cookies.js') }}"></script>

  </body>
</html>
