{% extends "base.html" %}
{% from "macros.html" import courseEntryArea %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
<div id="courseHistExplain">
  To help us give you personalized recommendations, we need to know which courses you've liked so far!<br><br>
  What classes have you taken, and how would you rate them?
</div>

<div id="courseHistInput">
<!-- Freshman Year **************************************************************************-->
  <div id="freshmanYear" class="yearStyle">
    <div class="fallSemester">
      <span class="semesterTitle">Freshman Fall</span>

      {{ courseEntryArea() }}
      
      <div id="appendFF"></div>
      <div id="FFAddButton" class="addCourseButtonStyle"></div>
    </div>

    <div class="springSemester">
      <span class="semesterTitle">Freshman Spring</span>

      {{ courseEntryArea() }}

      <div id="appendFS"></div>
      <div id="FSAddButton" class="addCourseButtonStyle"></div>
    </div>
  </div>

<!-- Sophomore Year **************************************************************************-->
  <div id="sophomoreYear" class="yearStyle" style="display: none;">
    <div class="fallSemester">
      <span class="semesterTitle">Sophomore Fall</span>

      {{ courseEntryArea() }}

      <div id="appendSF"></div>
      <div id="SFAddButton" class="addCourseButtonStyle"></div>
    </div>
    <div class="springSemester">
      <span class="semesterTitle">Sophomore Spring</span>

      {{ courseEntryArea() }}

      <div id="appendSS"></div>
      <div id="SSAddButton" class="addCourseButtonStyle"></div>
    </div>
  </div>

<!-- Junior Year **************************************************************************-->
  <div id="juniorYear" class="yearStyle" style="display: none;">
    <div class="fallSemester">
      <span class="semesterTitle">Junior Fall</span>

      {{ courseEntryArea() }}

      <div id="appendJF"></div>
      <div id="JFAddButton" class="addCourseButtonStyle"></div>
    </div>
    <div class="springSemester">
      <span class="semesterTitle">Junior Spring</span>

      {{ courseEntryArea() }}

      <div id="appendJS"></div>
      <div id="JSAddButton" class="addCourseButtonStyle"></div>
    </div>
  </div>

<!-- Other Buttons ************************************************************************-->
  <div id="addSemesterButton"></div>
  <div id="getRecommendationsButton" onclick="location.href='recommend'">
    Explore >
  </div>
</div>
{% endblock content %}
