{% extends "base.html" %}

{% block content %}
    <div id="yearInput">
      What year are you?<br>
        <div id="freshman">
          2019
        </div>
        <div id="sophomore" onclick="">
          2018
        </div>
        <div id="junior" onclick="">
          2017
        </div>
    </div>

    <div id="courseHistExplain">
      To help us give you personalized recommendations, we need to know which courses you've liked so far!<br><br>
      What classes have you taken, and how would you rate them?
    </div>

    <div id="courseHistInput">
      <div id="yr1L">
      </div>
      <div id="yr1R">
      </div>
      <div id="yr2L">
      </div>
      <div id="yr2R">
      </div>
      <div id="yr3L">
      </div>
      <div id="yr3R">
      </div>
    </div>

    <div id="getRecommendationsButton" onclick="location.href='recommend'">
      Explore >
    </div>
{% endblock content %}
