<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Lumen</title>
    <link rel='shortcut icon' href='{{ url_for('static', filename='images/icon.ico') }}' type='image/x-icon'/ >
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body style="background-image:url({{ url_for('static', filename='images/chalkboard.jpg') }})">
  <div class="projectTitleMain">
      <div id="projectNameMain">
          <img id="projectLogo" src="{{ url_for('static', filename='images/white.png') }}">
          <span class="projectTitle">Lumen</span>
      </div>
      <p id="projectDescription">Cast light on the incredible courses you never considered. </p>
    </div>

    <div class="queryEntry">
      <div id="queryText">Looking for a specific type of class?</div>
      <form id="queryFormMain" action="query">
        <input type="search" name="query" size="47" placeholder="Easy PDF, interesting class, etc...">
      </form>
    </div>

    <div class="courseHistOption">
      <div id="courseHistText">Don't know what you want?</div>
      <div id="courseHistButton"></div>
    </div>
  <!--
    <div class="container">
      <h1>Flask React</h1>
      <br>
      <div id="main"></div>
    </div>
    -->
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/react-15.0.2.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/react-dom-15.0.2.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/cookies.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/indexJSX.js') }}"></script>

  </body>
</html>
