<!--
Naming format: Year + Semester + Course + Type
    Year: (F)reshman (S)ophomore (J)unior
    Semester: (F)all (Spring)
    Course: 1-7
    Type: (N)ame (R)ating
-->

{% macro courseEntryArea(semester) %}
<div class="courseEntry">
	<div class="courseName">
		<input id="{{semester}}1N" class="courseName" type="text" placeholder="Course 1"/>
	</div>
	<div class="courseRating">
		<div id="{{semester}}1S" class="slider"></div>
	</div>
	<div id="{{semester}}1R" class="showRating">Neutral</div>
</div>
<div class="courseEntry">
	<div class="courseName">
		<input id="{{semester}}2N" class="courseName" type="text" placeholder="Course 2"/>
	</div>
	<div class="courseRating">
		<div id="{{semester}}2S" class="slider"></div>
	</div>
	<div id="{{semester}}2R" class="showRating">Neutral</div>
</div>
<div class="courseEntry">
	<div class="courseName">
		<input id="{{semester}}3N" class="courseName" type="text" placeholder="Course 3"/>
	</div>
	<div class="courseRating">
		<div id="{{semester}}3S" class="slider"></div>
	</div>
	<div id="{{semester}}3R" class="showRating">Neutral</div>
</div>
<div class="courseEntry">
	<div class="courseName">
		<input id="{{semester}}4N" class="courseName" type="text" placeholder="Course 4"/>
	</div>
	<div class="courseRating">
		<div id="{{semester}}4S" class="slider"></div>
	</div>
	<div id="{{semester}}4R" class="showRating">Neutral</div>
</div>
{% endmacro %}