<!--
Naming format: Year + Semester + Course + Type
    Year: (F)reshman (S)ophomore (J)unior
    Semester: (F)all (Spring)
    Course: 1-7
    Type: (N)ame (R)ating
-->

{% macro courseEntryArea() %}
<div class="courseEntry">
	<div class="courseName">
		<input id="FF1N" class="courseName" type="text" placeholder="Course 1"/>
	</div>
	<div class="courseRating">
		<div id="FF1S" class="slider"></div>
	</div>
	<div id="FF1R" class="showRating">Neutral</div>
</div>
<div class="courseEntry">
	<div class="courseName">
		<input id="FF2N" class="courseName" type="text" placeholder="Course 2"/>
	</div>
	<div class="courseRating">
		<div id="FF2S" class="slider"></div>
	</div>
	<div id="FF2R" class="showRating">Neutral</div>
</div>
<div class="courseEntry">
	<div class="courseName">
		<input id="FF3N" class="courseName" type="text" placeholder="Course 3"/>
	</div>
	<div class="courseRating">
		<div id="FF3S" class="slider"></div>
	</div>
	<div id="FF3R" class="showRating">Neutral</div>
</div>
<div class="courseEntry">
	<div class="courseName">
		<input id="FF4N" class="courseName" type="text" placeholder="Course 4"/>
	</div>
	<div class="courseRating">
		<div id="FF4S" class="slider"></div>
	</div>
	<div id="FF4R" class="showRating">Neutral</div>
</div>
{% endmacro %}