{% extends "base.html" %}

{% block content %}
    <div id="queryEntrySmall">
      <div id="queryContainerSmall">
        <form action="query">
          <input id="requery" type="text" name="query" size="47" placeholder="Keep exploring">
        </form>
      </div>
    </div>

    {% for result in results %}
      <div class="result">
        {{result}}
      </div>
    {% else %}
      <p>No results.</p>
    {% endfor %}


    <div class="loadMoreButton" onclick="">Load More</div>
{% endblock content %}
