body {
  font-family: Tahoma, Geneva, sans-serif;
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.projectTitleMain {
//  background-color: DodgerBlue;
  overflow: hidden;
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 35%;
}

.projectTitleSmall {
//  background-color: DodgerBlue;
  overflow:hidden;
  margin-top: 1%;
  margin-left: 42%;
  margin-right: 42%;
  cursor: pointer;
}

#projectNameMain {
  color: white;
  font-size: 4em;
  border: none;
}

#projectNameSmall {
  color: white;
  font-size: 3em;
  border: none;
}

#projectLogo {
  float: left;
  width: 75px;
  height: 75px;
}

#projectDescription {
  color: white;
  font-size: 1em;
}

.queryEntry {
//  background-color: LimeGreen;
  margin-top: 5%;
}

/**************
 * Index page *
 **************/
#queryText {
  color: white;
  font-size: 1.5em;
}

#queryFormMain {
  margin: 0 40% 0 40%;
}

.courseHistOption {
//  background-color: tomato;
  margin-top: 7%;
}

#courseHistText {
  color: white;
  font-size: 1.5em;
}

#courseHistButtonStyle {
  font-size: 1em;
  margin: 0 42% 0 42%;
  padding: 10px 0 10px 0;
  background-color: red;
}

/*****************************
 * Course history input page *
 *****************************/
#courseHistExplain {
  margin-top: 10px;
  font-size: 1.5em;
}

#courseHistInput {
  margin-top: 10px;
  min-height: 100%;
  position: relative;
}

.fallSemester {
//  background-color: blue;
  float: left;
  width: 50%;
  margin-top: 10px;
}

.springSemester {
 // background-color: red;
  float: right;
  width: 50%;
  margin-top: 10px;
}

.semesterTitle {
  font-size: 1.5em;
}

.yearStyle {
  min-height: 100px;
  overflow:hidden;
}

.courseEntry {
  min-height: 30px;
}

.courseName {
  min-width: 1px;
  float: left;
  margin-left: 20%;
}

.courseRating {
  width: 20%;
  float: left;
  margin-left: 5%;
}

.slider {
  margin-top: 10px;
}

.showRating {
  float: left;
  margin: 5px 30px;
}

.addCourseButtonStyle {
  background-color: green;
  width: 100px;
  height: 25px;
  margin: 0 auto 0 auto;
  clear: both;
  cursor: pointer;
}

#addSemesterButton {
  background-color: gray;
  font-size: 1.5em;
  height: 50px;
  width: 200px;
  margin: 0 auto 0 auto;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

#deleteSemesterButton {
  background-color: LimeGreen;
  font-size: 1.5em;
  height: 50px;
  width: 200px;
  margin: 0 auto 0 auto;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.getRecommendationsButtonStyle {
  background-color: tomato;
  font-size: 1.5em;
  height: 50px;
  width: 200px;
  margin: 0 auto 0 auto;
  padding: 10px 0 10px 0;
  cursor: pointer;
}


/******************************
 * Course history result page *
 ******************************/

#editCourseHistButton {
  margin-top: 5px;
  font-size: 0.75em;
}

/*********************
 * Query result page *
**********************/
.queryEntry {
//  background-color: LimeGreen;
  margin-top: 1%;
  margin-bottom: 1%;
}

#queryForm {
  margin: 0 40% 0 40%;
}

.result {
  margin: 5px auto 0 auto;
  width: 600px;
  height: 150px;
  background-color: tomato;
}

#loadMoreButton {
  font-size: 1em;
  margin: 10px 45% 0 45%;
  padding: 10px 0 10px 0;
  background-color: blue;
}