body {
  font-family: Tahoma, Geneva, sans-serif;
  background-size: cover;
  margin: 0 0 50px 0;
  padding: 0;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.projectTitle {
  position: absolute;
  bottom: 0;
  left: 90px;
}

#projectLogo {
  width: 90px;
  height: 90px;
  float: left;
}

#projectTitleSmall {
  margin-top: 10px;
  margin-left: 42%;
  margin-right: 42%;
  cursor: pointer;
  position: relative;
  height: 75px;
  color:white;
}

#projectLogoSmall {
  width: 75px;
  height: 75px;
  float: left;
}

#projectNameSmall {
  font-size: 52px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 75px;
}

/**************
 * Index page *
 **************/
.projectTitleMain {
  margin-top: 100px;
  margin-left: 40%;
  margin-right: 40%;
  color:white;
}

#projectNameMain {
  font-size: 65px;
  height: 100px;
  position: relative;
}

#projectDescription {
  font-size: 17px;
  color:white;
}

#queryEntry {
  margin: 150px auto 0 auto;
  width: 600px;
}

#queryEntrySmall {
  margin-top: 10px;
}

#queryText {
  font-size: 1.5em;
  margin-bottom: 5px;
}

#queryContainer {
  margin: 0 50px 0 50px;
}

#queryInputMain {
  box-sizing: border-box;
  width: 100%;
}

.courseHistOption {
  margin-top: 7%;
  color:white;
}

#courseHistText {
  font-size: 21px;
}

#courseHistButtonStyle {
  font-size: 21px;
  margin: 10px 45% 0 45%;
  padding: 10px 0 10px 0;
  background-color: black;
  cursor: pointer;
  border-radius: 10px;
  color: white;
}

#courseHistButtonStyle:hover {
  color: Gold;
  border-color: gold;
  outline: none;
  box-shadow: 0 0 10px gold;
}

/*****************************
 * Course history input page *
 *****************************/
#courseHistExplain {
  font-size: 21px;
  width: 700px;
  margin: 50px auto 0 auto;
}

#courseHistInput {
  margin-top: 10px;
  min-height: 100%;
  position: relative;
}

.fallSemester {
  float: left;
  width: 50%;
  margin-top: 10px;
}

.springSemester {
  float: right;
  width: 50%;
  margin-top: 10px;
}

.semesterTitle {
  font-size: 21px;
  color:white;
}

.yearStyle {
  min-height: 100px;
  overflow:hidden;
  margin-top: 30px;
}

.courseEntry {
  min-height: 30px;
}

.courseName {
  min-width: 1px;
  float: left;
  margin-left: 20%;
  border: none;
}

.courseName:focus {
  border-color: yellow;
  outline: none;
  box-shadow: 0 0 15px yellow;
}

.courseRating {
  width: 20%;
  float: left;
  margin-left: 5%;
}

.slider {
  margin-top: 10px;
}

.showRating {
  float: left;
  margin: 5px 30px;
  color:white;
}

#editYearButton {
  width: 300px;
  margin: 50px auto 0 auto;
}

.addCourseButtonStyle {
  background-color: slateblue;
  width: 125px;
  height: 25px;
  border-radius: 10px;
  margin: 10px auto 0 auto;
  clear: both;
  cursor: pointer;
  font-size: 16px;
}

.addDelete {
  font-size: 21px;
  height: 50px;
  width: 45%;
  padding: 10px 0 10px 0;
  border-radius: 10px;
}

#addSemesterButton {
  background-color: forestgreen;
  float: left;
  cursor: pointer;
}

#disabledAdd {
  background-color: gray;
  float: left;
  cursor: default;
}

#deleteSemesterButton {
  background-color: orangered;
  float: right;
  cursor: pointer
}

#disabledDelete {
  background-color: gray;
  float: right;
  cursor: default;
}

#majorPrompt {
  color: white;
}

#certificatePrompt {
  color: white;
}

.getRecommendationsButtonStyle {
  background-color: black;
  font-size: 21px;
  height: 50px;
  width: 200px;
  margin: 50px auto 0 auto;
  padding: 10px 0 10px 0;
  cursor: pointer;
  border-radius: 10px;
  color: white;
}

.getRecommendationsButtonStyle:hover {
  color: gold;
  border-color: gold;
  outline: none;
  box-shadow: 0 0 10px gold;
}


/******************************
 * Course history result page *
 ******************************/
#resultPrompt {
  width: 700px;
  margin: 10px auto 0 auto;
  color: white;
  font-size: 21px;
}

#editCourseHistButton {
  margin-top: 5px;
  font-size: 14px;
}

.resultName {
  width: 200px;
  height: 100%;
  float:left; 
  background-color: blue;
  color: black;
//  border-top-left-radius: 5px;
//  border-bottom-left-radius: 5px;
  border-radius: 5px;
}

.resultCourseNumber {
  height: 30%;
  position: relative;
  padding-top:10px;
  font-size: 21px;
}

.resultCourseNameContainer {
  height: 70%;
  position: relative;
}

.resultCourseName {
  height: 75%;
  display: block;
}

.resultExpand {
  height: 25%;
  display: block;
  cursor: pointer;
}

.resultData {
  width: 600px;
  height: 100%;
  float: left;
  color: white;
}

.resultScoreData {
  height: 30%;
  display: block;
}

.resultScore {
  float: right;
  margin-right: 10px;
  padding-top: 10px;
  font-size: 17px;
}

.resultComments {
  text-align: left;
  height: 70%;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}

/*********************
 * Query result page *
**********************/
#queryContainerSmall {
  margin: 0 auto 0 auto;
  width: 500px;
}

#requery {
  box-sizing: border-box;
  width: 100%;
}

.result {
  margin: 10px auto 0 auto;
  width: 800px;
  height: 150px;
//  background-color: tomato;
//  border-radius: 5px;
}

.loadMoreButton {
  font-size: 14px;
  margin: 10px 45% 0 45%;
  padding: 10px 0 10px 0;
  background-color: blue;
  display: none;
}