body {
  font-family: Tahoma, Geneva, sans-serif;
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.projectTitleMain {
  margin-top: 100px;
  margin-left: 40%;
  margin-right: 40%;
}

.projectTitleSmall {
  overflow:hidden;
  margin-top: 1%;
  margin-left: 42%;
  margin-right: 42%;
  cursor: pointer;
}

#projectNameMain {
  color: white;
  font-size: 65px;
  height: 100px;
  position: relative;
}

.projectTitle {
  position: absolute;
  bottom: 0;
  left: 90px;
}

#projectNameSmall {
  font-size: 52px;
}

#projectLogo {
  width: 90px;
  height: 90px;
  float: left;
}

#projectDescription {
  color: white;
  font-size: 17px;
}

.queryEntry {
  margin: 150px 35% 0 35%;
}

/**************
 * Index page *
 **************/
#queryText {
  color: white;
  font-size: 1.5em;
  margin-bottom: 5px;
}

#queryInputMain {
  box-sizing: border-box;
  width: 100%;
}

.courseHistOption {
  margin-top: 7%;
}

#courseHistText {
  color: white;
  font-size: 21px;
}

#courseHistButtonStyle {
  font-size: 21px;
  margin: 0 45% 0 45%;
  padding: 10px 0 10px 0;
  background-color: black;
  color: Gold;
  cursor: pointer;
  border-radius: 10px;
}

/*****************************
 * Course history input page *
 *****************************/
#courseHistExplain {
  margin-top: 10px;
  font-size: 21px;
}

#courseHistInput {
  margin-top: 10px;
  min-height: 100%;
  position: relative;
}

.fallSemester {
//  background-color: blue;
  float: left;
  width: 50%;
  margin-top: 10px;
}

.springSemester {
 // background-color: red;
  float: right;
  width: 50%;
  margin-top: 10px;
}

.semesterTitle {
  font-size: 21px;
}

.yearStyle {
  min-height: 100px;
  overflow:hidden;
}

.courseEntry {
  min-height: 30px;
}

.courseName {
  min-width: 1px;
  float: left;
  margin-left: 20%;
}

.courseRating {
  width: 20%;
  float: left;
  margin-left: 5%;
}

.slider {
  margin-top: 10px;
}

.showRating {
  float: left;
  margin: 5px 30px;
}

.addCourseButtonStyle {
  background-color: green;
  width: 100px;
  height: 25px;
  margin: 0 auto 0 auto;
  clear: both;
  cursor: pointer;
}

#addSemesterButton {
  background-color: gray;
  font-size: 21px;
  height: 50px;
  width: 200px;
  margin: 0 auto 0 auto;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

#deleteSemesterButton {
  background-color: LimeGreen;
  font-size: 21px;
  height: 50px;
  width: 200px;
  margin: 0 auto 0 auto;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.getRecommendationsButtonStyle {
  background-color: tomato;
  font-size: 21px;
  height: 50px;
  width: 200px;
  margin: 0 auto 0 auto;
  padding: 10px 0 10px 0;
  cursor: pointer;
}


/******************************
 * Course history result page *
 ******************************/

#editCourseHistButton {
  margin-top: 5px;
  font-size: 11px;
}

/*********************
 * Query result page *
**********************/

#queryForm {
  margin: 0 40% 0 40%;
}

.result {
  margin: 5px auto 0 auto;
  width: 600px;
  height: 150px;
  background-color: tomato;
}

#loadMoreButton {
  font-size: 14px;
  margin: 10px 45% 0 45%;
  padding: 10px 0 10px 0;
  background-color: blue;
}